body {
    text-align: center;
}

.hidden {
    display: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.users {
    display: flex;
    justify-content: center;
    &__item {
        width: 300px;
        margin: 0 10px;
        video {
            width: 100%;
            height: auto;
            margin: 0 0 20px;
            background: grey;
        }
    }
}

.form-group {
    margin: 0 0 20px;
}